body {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #F5F5F5;
  color: #333333;
  width: 980px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3, h4, h5 {
  margin: 5px 0;
}

.title {
  font-size: 32px;
}

.subtitle {
  font-size: 22px;
}

pre {
  font-family: "courier new", sans-serif;
  font-size: 14px;
  background-color: #e5e5e5;
}
